<h2>Add Employee Details Form</h2>
<form action="/employees/create" method="post">
    Name: <input type="text" name="name" placeholder="Enter your name"><br>
    Email: <input type="email" name="email" placeholder="Enter email address"><br>
    Password: <input type="password" name="password" placeholder="Enter Password"><br>
    IsAdmin: <input type="radio" name="isAdmin" value="true"> true&nbsp; &nbsp; &nbsp;
    <input type="radio" name="isAdmin" value="false">false <br>
    <input type="submit" value="Submit">
</form>