<link rel="stylesheet" href="/styles/homeAdmin.css">
<div id="container">
    <div id="select">
        <div id="all-emp">All Employees</div>
        <a href="assign/allPR">
            <div id="all-pr">All Performance Reviews</div>
        </a>
        <a href="/assign">
            <div id="assign-pr">Assign Performance Review</div>
        </a>
        
    </div>
    <div id="selected-content">
        <div id="allEmployees">
            <h1 id="heading"></h1>
            <a href="/employees/addEmp">
                <button>Add Employee</button>
            </a>
            <div class="emp">
                <div class="emp-name">Harshit Singh</div>
                <div class="emp-actions">
                    <a href="/employees/view">
                        <button>View</button>
                    </a>&nbsp;
                    <a href="/employees/update">
                        <button>Update</button>
                    </a>&nbsp;
                    <a href="/employees/destroy">
                        <button>Remove</button>
                    </a>&nbsp;
                    <a href="/employees/makeAdmin">
                        <button>Make Admin</button>
                    </a>
                </div>
            </div>
            <div id="assign-pr-container"></div>
        </div>  
    </div>
</div>

<script src="/scripts/homeAdmin.js"></script>