<link rel="stylesheet" href="/styles/homeAdmin.css">
<div id="container">
    <div id="select">
        <div id="all-emp">All Employees</div>
        <div id="all-pr">All Performance Reviews</div>
        <div id="assign-pr">Assign Performance Review</div>
    </div>
    <div id="selected-content">
        <h1 id="heading"></h1>
        <div class="emp">
            <div class="emp-name">Harshit Singh</div>
            <div class="emp-actions">
                <a href="/employees/view">
                    <button>View</button>
                </a>&nbsp;
                <a href="/employees/update">
                    <button>Update</button>
                </a>&nbsp;
                <a href="/employees/destroy">
                    <button>Remove</button>
                </a>&nbsp;
                <a href="/employees/makeAdmin">
                    <button>Make Admin</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/homeAdmin.js"></script>