<h2>Sign-In Form</h2>
<form action="/users/createSession" method="post">
    Email: <input type="email" name="email" placeholder="Enter email address"><br>
    Password: <input type="password" name="password" placeholder="Enter Password"><br>
    <input type="submit" value="Submit">
</form>