#container{
    #select{
        display: inline-block;
        width: 25%;
        height: auto;
        min-height: 100vh;
        border: 1px solid blue;
        vertical-align: top;
        text-align: center;
        background-color: black;
        a{
            text-decoration: none;
        }
        div{
            color: gainsboro;
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: 15px;
        }
        #all-pr{
            color: green;
        }
    }
    #selected-content{
        display: inline-block;
        width: 72%;
        height: auto;
        min-height: 100vh;
        border: 1px solid coral;
        text-align: center;

        #heading{
            text-align: center;
        }
    }
}