#container #select {
  display: inline-block;
  width: 25%;
  height: auto;
  min-height: 100vh;
  border: 1px solid blue;
  vertical-align: top;
  text-align: center;
  background-color: black; }
  #container #select div {
    color: gainsboro;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px; }

#container #selected-content {
  display: inline-block;
  width: 72%;
  height: auto;
  min-height: 100vh;
  border: 1px solid coral;
  text-align: center; }
  #container #selected-content #heading {
    text-align: center; }
  #container #selected-content .emp {
    width: 90%;
    font-size: 1.5rem;
    border: 1px solid black;
    margin-bottom: 10px; }
    #container #selected-content .emp .emp-name {
      text-align: left;
      display: inline-block;
      width: 50%; }
    #container #selected-content .emp .emp-actions {
      display: inline-block;
      width: 45%; }
      #container #selected-content .emp .emp-actions a {
        text-decoration: none; }
